@tailwind base;
@tailwind components;
@tailwind utilities;

/* Browser's scroll bar modifications */
::-webkit-scrollbar {
    width: 10px; 
    background-color: #202324 !important;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #90A4AE;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #5F746F;
  } 